[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
StartupNotify=false
Name=AIMGIN, The AppImage Installer
Comment=Install any AppImage to your system
Icon=applications-other
Exec=/usr/lib/aimgin/aimgin.ui.sh
Path=/tmp/aimgin.cache
Categories=System;Other;
