[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
StartupNotify=false
Name=AIMGIN Setup. Installer
Comment=Install AIMGIN
Icon=applications-other
Exec=bash -ic "export INTERACTIVE=1;chmod +x ./Setup.Install.sh;./Setup.Install.sh"
Categories=System;Other;
